html, body {
    height: 100%;
    margin: 0;
    font-family: cursive;
}

header{
    background-color: cornflowerblue;
    text-align: center;
    margin: 0 auto;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

nav {
    display: flex; 
    justify-content: space-between; /* Espacio entre el título y los enlaces */
    align-items: center; 
    padding: 10px; 
    background-color:cadetblue; 
}


a {
    color: black;
    font-family: cursive;
    margin: 10px;
    font-size: 16px;
    transition: transform 0.3s;
}

a:hover{
    color: blue;
    transform: scale(1.2);
    font-family:monospace;
}

.imagen{
    text-align: center;
    margin: 10px;
}

.imagen img{
    max-width: 100%;
    height: 420px;
}

div cite{
    display: block;
}

.content {
    flex: 1; /* Esto permite que el contenido ocupe el espacio disponible */
    padding: 20px;
    background-color:aquamarine;
}

p{
    text-align: justify;
    line-height: normal;
}

.galery{
    display:inline;
    background-color: lightgrey;
}

img{
    max-width: 100%;
    height: 340px;
    margin:0 auto;
    border-radius: 8px;
}

img:hover{
    transform: scale(1.2);
}

.footer {
    background-color:cadetblue;
    color:darkslategrey;
    text-align: center;
    padding: 10px 0;
    
}

